.carousel-root ,.slider{
    height: 500px;
}

.thumbs,.legend {
display: none;
}

.contenedor-slider{
    height: 500px;
}

.img-slider{
  height: 1000px;
    
}
@media  (min-width:300px) and (max-width: 600px) {
    .img-position {
        bottom: -40px !important;
    }
}